.column1 {
  width: 20%;
  margin: 5px;
  float: left;
}


.column2 {
  width: 20%;
  margin: 5px;
  float: left;
}


.column3 {
  width: 20%;
  margin: 5px;
  float: left;
}

.column4 {
  width: 20%;
  margin: 5px;
  float: left;
}
