body {
  margin: 0;
  padding: 0;
  background-color:  #ccccb3;
}
.column1 {
  color: #ffffff;
  width: 20%;
  float: left;
  padding: 5px;
  margin: 2px;
  background-color: #66ccff;
  height: 400px;
}

.column2 {
  color: blue;
  width: 20%;
  float: left;
  padding: 5px;
  margin: 2px;
  background-color:  #ffcc66;
  height: 400px;
}

.column3 {
  color:  #003366;
  width: 20%;
  float: left;
  padding: 5px;
  margin: 2px;
  background-color: yellow;
  height: 400px;
}

.column4 {
  color:  #cc3300;
  width: 20%;
  float: left;
  padding: 5px;
  margin: 2px;
  background-color: #336600;
  height: 400px;
}

img {
  width: 60%;
  float: left;
  padding-right: 20px;
  padding-bottom: 40px;
}

.column1 p span {
  font-style: italic;
}

.column2 p span {
  font-style: italic;
}

.column3 p span {
  font-style: italic;
}

.column4 p span {
  font-style: italic;
}

/* ===============================
  Media Queries
  ===============================*/



/*Tablet to Phone*/

@media only screen and (max-width: 479px) {
  .column1,
  .column2,
  .column3,
  .column4 {
    float: none;
    width: 80%;
    }
    img {
      max-height: 90%;
      padding-bottom: 0px;
    }
  }

  /*Desktop to Tablet*/

  @media only screen and (max-width: 768px) and (min-width: 480px) {
    .column1,
    .column2,
    .column3,
    .column4 {
      width: 45%;
    }
  }
